<% if user_signed_in? %>
  <a href="<%= destroy_user_session_path%>" data-method="delete">
    <i class="fa fa-user"></i>out
  </a>
<% else %>
  <a href="<%= new_user_session_path%>">
    <i class="fa fa-sign-in"></i>in
  </a>
<% end %>

  <%= current_user.role %>

<p>
  <strong>email:</strong>
  <%= current_user.email %>
</p>

<div class="row">
	<div class="col-6">
		<% if @user.role == "manager" %> 
			<h2>Gửi thông báo cho Sale</h2>
			
		<% else %>	
			<h2>Add a request:</h2>
		<% end %>	
		<%= form_with(model: [ @user, @user.posts.build ], local: true) do |form| %>
		  <p>
		    <%= form.label :title %><br>
		    <%= form.text_field :title %>
		  </p>
		  <p>
		    <%= form.label :content %><br>
		    <%= form.text_area :content %>
		  </p>
		  <p>
		    <%= form.submit %>
		  </p>
		<% end %>
	</div>
	<div class="col-6">
		<h2>Đã đề xuất</h2>
		<% if @user.role == "manager" %>
			<% @user_manager.each do |user| %>
				<%= render user.posts %>
			<% end %>
		<% else %>	
			<%= render @user.posts %>
		<% end %>	
	</div>
 
	

 
<%#= link_to 'Edit', edit_user_path(@user) %>

</div>