<% if user_signed_in? %>
  <a href="<%= destroy_user_session_path%>" data-method="delete">
    <i class="fa fa-user"></i>out
  </a>
<% else %>
  <a href="<%= new_user_session_path%>">
    <i class="fa fa-sign-in"></i>in
  </a>
<% end %>

  <%= current_user.role %>

<p>
  <strong>email:</strong>
  <%= current_user.email %>
</p>

<div class="row">
	<div class="col-md-6">
		<% if @user.role == "manager" %> 
			<h5>Gửi thông báo cho Sale</h5>
			
		<% else %>	
			<h5>Add a request:</h5>
		<% end %>	
		<%= form_with(model: [ @user, @user.posts.build ], local: true) do |form| %>
		  <p>
		    <%= form.label :title %><br>
		    <%= form.text_field :title, class: "form-control" %>
		  </p>
		  <p>
		    <%= form.label :content %><br>
		    <%= form.text_area :content, class: "form-control"  %>
		  </p>
		  <p>
		    <%= form.submit %>
		  </p>
		<% end %>
	</div>
	<div class="col-md-6">
		<h5>Đã đề xuất</h5>
		<% if @user.role == "manager" %>
			<% @user_manager.each do |user| %>
				<%= render user.posts %>
			<% end %>
		<% else %>	
			<%= render @user.posts %>
		<% end %>	
	</div>
 
	

 
<%#= link_to 'Edit', edit_user_path(@user) %>

</div>