<script>
  console.log("<%= current_user.id %>")
</script>
<h5>bsc margin journal</h5>
<% if @user.role == "sale" %>
	<% @user_manager.each do |manager| %>					
		<div class="card">
		  <div class="card-header">
		    Thông báo
		  </div>
		  <ul class="list-group list-group-flush">
		  	<% manager.posts.each do |post| %>
		    	<li class="list-group-item"><%= post.content %> by: <strong><%= manager.name %></strong></li> 
		    <% end %>
		  </ul>
		</div>
	<% end %>
<% end %>

<div class="row">
	<div class="col-md-4" >Pending
		<% if @user.role == "manager" %>
			<% @user_sale.each do |user| %>
				<%= render user.posts.pending %>
			<% end %>
		<% else %>	
			<%= render @user.posts %>
		<% end %>	

	</div>
	<div class="col-md-4" style="background-color: #f2fff8"> Approved
		<% if @user.role == "manager" %>
			<% @user_sale.each do |user| %>
				<%= render user.posts.approved %>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-4 bg-light">Rejected
		<% if @user.role == "manager" %>
			<% @user_sale.each do |user| %>
				<%= render user.posts.rejected %>
			<% end %>
		<% end %>
	</div>
</div>





<% if @user.date_of_birth.present? %>
	<%#= ((Time.zone.now - @user.date_of_birth.to_time) / 1.year.seconds).floor %>
<% end %>


