
 

<p> <strong><%= post.title %></strong>
   by <%= post.user.name %>
<%= link_to 'Xoá', [post.user, post],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>   

    
	  <div class="<%= post.post_status %>">status: <%= post.post_status %></div>

 

  
</p>

<% if @user.role == "manager" %>
<div class="row">
	<%= form_with(model: [post.user, post], data: { confirm: "You sure?"}, class: "form-group") do |fa| %>
	  <%= fa.hidden_field :post_status, :value => "approved" %>
	  <%= fa.submit "Approve", class: "btn  btn-outline-success ml-3" %>
	<% end %>
	<%= form_with(model: [post.user, post], data: { confirm: "You sure?" }, class: "form-group") do |fr| %>
	  <%= fr.hidden_field :post_status, :value => "rejected"  %>
	  <%= fr.submit "Reject", class: "btn btn-outline-secondary ml-3" %>
	<% end %>
</div>	
<% end %>    